
*.log*
harvestHAL/target
harvestHAL/target/*
harvestHAL/*.patrice
tempPdf/*
*.old
indexHAL/target
indexHAL/target/*
indexHAL/*.patrice
annotateHAL/target
annotateHAL/target/*
annotateHAL/*.patrice
tempPDF/*
tempTEI/*
frontendHAL/search/lib/mathjax
frontendHAL/search/lib/mathjax/*
frontendHal/search/lib/mathjax
frontendHal/search/lib/mathjax/*
config/local/*